<footer>
        <div class="pull-right">
            Gentelella - Bootstrap Admin Template by
            <a href="https://colorlib.com">Colorlib</a>
        </div>
        <div class="clearfix"></div>
</footer>