   <!-- Bootstrap -->
   <link href="/public/admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
   <!-- Font Awesome -->
   <link href="/public/admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
   <!-- bootstrap-progressbar -->
   <link href="/public/admin/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
   <!-- Custom Theme Style -->
   <link href="/public/admin/css/custom.min.css" rel="stylesheet">