<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - Start Bootstrap Theme</title>

    <% include common/style %>

  </head>

  <body>

    <% include common/nav %>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/public/client/img/<%= article.url %>.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1><%= article.title %></h1>
              <h2 class="subheading"><%= article.description %></h2>
              <span class="meta">Posted by
                <a href="#"><%= article.author.username %></a>
                on August 24, 2018</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <%- article.content %>
          </div>
        </div>
      </div>
    </article>

    <hr>

    <% include common/footer %>

    <% include common/scripts %>

  </body>

</html>
