<!-- Page Header -->
<header class="masthead" style="background-image: url('/public/client/img/<%= img %>-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1><%= title %></h1>
            <span class="subheading"><%= note %></span>
          </div>
        </div>
      </div>
    </div>
  </header>